# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# 環境ファイル
.env
*.env

# 仮想環境
venv/
benv/
.env/
.venv/
pip-wheel-metadata/
*.egg-info/

# IDE設定
.vscode/
.idea/

# OSによるファイル
.DS_Store
Thumbs.db

# ログ・出力
*.log
*.bak
*.swp

# テストキャッシュ
.pytest_cache/
.coverage
htmlcov/

# mypy / pylint / etc.
.mypy_cache/
.cache/
.pyre/
.pytype/

# db dumpなど
*.db
*.sql
*.log
